:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --primary-color: rgba(255, 255, 255, 0.87);
  --secondary-color: rgb(36, 36, 36);
  --header-height: 60px;
  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}
