.container-one {
  width: 80%;
  height: 100px;
  background-color: coral;
  padding: 50px;
  margin: 20px 10px;
  overflow-x: visible;
}

.content {
  width: 500px;
}

.container-two {
  width: 60%;
  height: 200px;
  background-color: yellowgreen;
  margin: 50px 30px;
}

#div1,
#div2,
#div3,
#div4 {
  border: 1px solid yellowgreen;
  width: 200px;
  margin-bottom: 12px;
  box-shadow: 10px 10px 5px 0px rgba(240, 17, 240, 1);
  visibility: hidden;
}

#div1 {
  overflow-x: hidden;
}
#div2 {
  overflow-x: scroll;
}
#div3 {
  overflow-x: visible;
}
#div4 {
  overflow-x: auto;
}

#div1-y,
#div2-y,
#div3-y,
#div4-y {
  border: 1px solid coral;
  width: 250px;
  height: 100px;
  box-shadow: inset 0 -3em 3em rgba(246, 4, 4, 0.1),
    0 0 0 2px rgba(0, 0, 0, 0.1);
}

#div1-y {
  overflow-y: hidden;
  margin-bottom: 12px;
}
#div2-y {
  overflow-y: scroll;
  margin-bottom: 12px;
}
#div3-y {
  overflow-y: visible;
  margin-bottom: 120px;
}
#div4-y {
  overflow-y: auto;
  margin-bottom: 120px;
}
