body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid black;
  /* CAMBIAR */
  padding: 0px;
  margin: 0px;
}

.two {
  background: lightblue;
  border: 3px solid black;
  /* CAMBIAR */
  margin-bottom: 0px;
}

.three {
  background: peachpuff;
  border: 3px solid black;
  width: 200px;
  /* CAMBIAR */
  padding: 0px;
  margin-left: 0px;
}
