nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8rem;
  flex-wrap: wrap;
}

nav > ul {
  display: flex;
  gap: 3rem;
}

nav button {
  background: none;
  border: none;
  color: inherit;
  transform: scale(1.5);
}

nav a {
  transition: all 0.3 ease-in-out;
}

nav a:hover {
  color: var(--highlight)
}

img {
  height: 50px;
  width: 50px;
  filter: invert(95%);
}