#hello {
  color: coral;
  width: 30px;
  font-size: 50px;
}

.other {
  color: yellowgreen;
  font-size: 25px;
}

.divider {
  background-color: cornflowerblue;
}

.red,
.coral {
  color: coral;
}

footer p {
  color: brown;
}

.container > h2 {
  color: lawngreen;
}

div > h2 {
  color: blue;
}

li:first-child {
  color: plum;
}

li:last-child {
  color: violet;
}

a[href="hola.com"] {
  color: pink;
}
