div:hover {
  background-color: yellowgreen;
  color: blueviolet;
}

input:read-only {
  background-color: yellowgreen;
  color: blueviolet;
}

.cita::before {
  content: "🕷";
  color: coral;
}

.cita::after {
  content: "🕸";
  color: coral;
}

.cita {
  font-style: italic;
}
