.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 200px;

  display: flex;
}

.flex-start { align-self: flex-start; }
.flex-end { align-self: flex-end; }
.center { align-self: center; }
.baseline { align-self: baseline; }
.stretch { align-self: stretch; }

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  margin: 5px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}