/* div {
  width: 100px;
  height: 100px;
}

.relative {
  position: relative;
  left: 100px;
  background-color: coral;
}

.absolute {
  position: absolute;
  left: 50px;
  background-color: yellowgreen;
}

.contenedor {
  height: 1000px;
  width: 100%;
  background-color: chocolate;
}

.box-one {
  height: 150px;
  width: 150px;
  background-color: skyblue;
  position: fixed;
  margin: 0 auto;
  top: 100px;
  left: 200px;
} */

/* nav {
  height: 150px;
  width: 150px;
  background-color: skyblue;
  position: fixed;
  margin: 0 auto;
  top: 0;
} */

.index-zero {
  position: relative;
  z-index: 1;
  width: 500px;
  height: 500px;
  background-color: yellow;
}

.index-zero > .index-primary {
  position: absolute;
  top: 60px;
  z-index: 2;
  width: 300px;
  height: 300px;
  background-color: tomato;
}

.index-zero .index-secondary {
  position: absolute;
  z-index: 3;
  top: 20px;
  width: 300px;
  height: 300px;
  background-color: teal;
}
