.red {
  background-color: crimson;
  width: 800px;
}

.blue {
  background-color: blue;
  width: 100%;
}

.maximo {
  max-width: 500px;
  background-color: coral;
}

.menu {
  background-color: aquamarine;
  height: 200px;
}

@media screen and (max-width: 640px) and (min-width: 420px) {
  .menu {
    background-color: blue;
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 1200px) {
  .menu {
    background-color: crimson;
  }
}

@media screen and (min-width: 1210px) {
  .menu {
    background-color: green;
  }
}
