@font-face {
  font-family: "ThePowerMBAFontRegular";
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ThePowerMBAFontLight";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ThePowerMBAFontLightItalic";
  src: url("../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.roboto-regular {
  font-family: ThePowerMBAFontRegular;
}

.roboto-light {
  font-family: ThePowerMBAFontLight;
}

.roboto-light-italic {
  font-family: ThePowerMBAFontLightItalic;
}
