.rock_selector_class {
  font-size: 10px;
}

#rock_selector_id {
  font-size: 12px;
}

div > p {
  font-size: 14px;
}

div .rock_selector_class {
  font-size: 16px;
}

ul li:nth-child(1) {
  color: coral;
}

ul li:nth-child(2) {
  color: yellowgreen;
}

ul li:nth-child(3) {
  color: yellow;
}

ul li:nth-child(4) {
  color: blueviolet;
}

a[href*="example"] {
  background-color: silver;
}
