.container {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 200px);
    /* Repite tantos 200px como quepan horizontalmente generando columnas */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container > div {
  background-color: crimson;
  color: whitesmoke;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
