.wwdc > span {
  display: block;
  position: absolute;
  top: calc(50% - 10em);
  left: calc(50% - 10em);
  width: 20em;
  height: 20em;
}

span.spin {
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

span.spin-reverse {
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

span.pulse {
  -webkit-animation: spin-pulse 20s linear infinite;
          animation: spin-pulse 20s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@-webkit-keyframes spin-pulse {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.9) rotateZ(180deg);
            transform: scale(0.9) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes spin-pulse {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.9) rotateZ(180deg);
            transform: scale(0.9) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.circle {
  border-radius: 50%;
  left: calc(50% - 6.25em);
  top: calc(50% - 12.5em);
  -webkit-transform-origin: 50% 12.5em;
          transform-origin: 50% 12.5em;
}

.squircle {
  border-radius: 25%;
}

.circle, .squircle {
  width: 12.5em;
  height: 12.5em;
  position: absolute;
  border-top: 0.1em solid rgba(255, 255, 255, 0.4);
}

.large.circle {
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.5);
}

.small {
  width: 4em;
  height: 4em;
  left: calc(50% - 2em);
  top: calc(50% - 15em);
  -webkit-transform-origin: 50% 15em;
          transform-origin: 50% 15em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

.one {
  background: rgba(16, 63, 236, 0.75);
  -webkit-transform: rotateZ(225deg);
          transform: rotateZ(225deg);
}

.two {
  background: rgba(37, 172, 162, 0.75);
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.three {
  background: rgba(233, 124, 32, 0.75);
  -webkit-transform: rotateZ(135deg);
          transform: rotateZ(135deg);
}

.four {
  background: rgba(235, 67, 35, 0.75);
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.five {
  background: rgba(190, 28, 65, 0.75);
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.six {
  background: rgba(208, 57, 159, 0.75);
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

.seven {
  background: rgba(150, 32, 198, 0.75);
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.eight {
  background: rgba(95, 33, 203, 0.75);
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.small.squircle {
  background: none;
  box-shadow: none;
}
.small.squircle::after {
  content: "";
  border-radius: 25%;
  width: 100%;
  height: 100%;
  position: absolute;
  background: red;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  box-shadow: -0.25em 0.25em 0.5em rgba(0, 0, 0, 0.2);
}
.small.squircle.two::after {
  background: rgba(37, 172, 162, 0.75);
}
.small.squircle.four::after {
  background: rgba(235, 67, 35, 0.75);
}
.small.squircle.six::after {
  background: rgba(208, 57, 159, 0.75);
}
.small.squircle.eight::after {
  background: rgba(95, 33, 203, 0.75);
}

.large.squircle {
  position: absolute;
  background: rgba(30, 7, 66, 0.65);
  border: none;
  left: calc(50% - 7.5em);
  top: calc(50% - 7.5em);
  width: 15em;
  height: 15em;
  -webkit-transform: none;
          transform: none;
}
.large.squircle.one {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.content {
  text-align: center;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content svg {
  fill: #fff;
  width: 3em;
  margin: 1.25em auto 1em;
}
.content h1 {
  font-weight: lighter;
  font-size: 1.75em;
  margin: 0.25em auto 1em;
  max-width: 6em;
}