@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
  background-image: url('https://i.pinimg.com/originals/f8/8b/41/f88b412bb4ed2df2b8e94354861e2156.jpg');
  background-size: cover;
}

h1 {
  text-align: center;
  color: whitesmoke;
  margin: 50px 0;
}

.faq-container {
  max-width: 70%;
  margin: 0 auto;
}

.faq {
  background-color: whitesmoke;
  border: 2px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.faq.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.faq-title {
  margin: 0 35px 30px 0;
}

.faq-text {
  display: none;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
}

.faq-toggle:focus {
  outline: 0;
}