#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.large-text {
  font-size: 24px;
  color: greenyellow;
}

.yes {
  color: greenyellow;
  font-size: 40px;
}

.no {
  color: red;
  font-size: 40px;
}

.job-list {
  list-style-type: none;
  padding-left: 0;
  text-transform: capitalize;
}