.container {
  color: gainsboro;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px
  50px
  1fr
  100px
  200px;
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "section section section"
  "aside aside aside"
  "footer footer footer";
}

header {
  grid-area: header;
  background-color: crimson;
}

nav {
  grid-area: nav;
  background-color: cornflowerblue;
}

section {
  grid-area: section;
  background-color: indigo;
}

aside {
  grid-area: aside;
  background-color: yellow;
}

footer {
  grid-area: footer;
  background-color: coral;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .container {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 150px
    100px
    1fr
    100px;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "aside section section"
    "footer footer footer";
  }
}

@media (min-width: 1001px) {
  .container {
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px
    1fr
    100px;
    grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  }
}