/* .pulgadas {
  font-size: 0.5in;
}

.centimetros {
  font-size: 0.5cm;
}

.milimetros {
  font-size: 0.5mm;
}

.puntos {
  font-size: 12pt;
}

.picas {
  font-size: 6pc;
} */

/* p {
  font-size: 32px;
  margin: 0.5rem;
} */

/* .em {
  font-size: 0.5em;
}

.rem {
  font-size: 0.5rem;
}

.pixel {
  font-size: 12px;
} */

/* div#contenido {
  width: 500px;
  background-color: aquamarine;
}

div.principal {
  width: 60%;
  background-color: blue;
  color: red;
} */

body {
  margin: 0;
}

div {
  height: 50vh;
  width: 100vw;
  background-color: aquamarine;
}
