footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  gap: 4rem;
  flex-wrap: wrap;
  margin: 2rem 0;
}

footer > div {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 750px) {
  footer {
    padding: 0 2rem;
    gap: 2rem;
  }

}