@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--Strong-Cyan: #26baa4;
--cyan-shadow:  hsl(171, 80%, 35%);
--blue-shadow: hsl(233, 81%, 54%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
}
body{
  background-image: url('images/bg-header-desktop.png');
  background-repeat: no-repeat;
  font-family: 'Bai Jamjuree', sans-serif;
}
h1,h2,h3{
  color: var(--Dark-Grayish-Blue);
}
p{
  color: var(--Grayish-Blue);
  font-size: 1.4em;
  line-height: 1.5em;
}
.first-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section img{
  margin: 8em 0 3em;
  width: 7.5em;
}
.first-section h1{
  font-size: 3.2em;
  margin-bottom: .5em;
}
.first-section p{
  text-align: center;
  padding: 0 10em;
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 1.3em;
}
.buttons-container{
  margin-bottom: 9em;
}
.buttons-container button, .download{
  font-size: 1.2em;
  padding: .65em 2.5em;
  border-radius: 1.5em;
  border-style: none;
  color: white;
}
.buttons-container button:hover{
  opacity: .7;
  cursor: pointer;
  transition: .5s ease;
}
.ios{
  background-color: var(--Strong-Cyan);
  margin-right: .8em;
  box-shadow: 0 2px 0 1px var(--cyan-shadow);
}
.mac{
  background-color: var(--Light-Blue);
  box-shadow: 0 2px 0 1px var(--blue-shadow);
}
.middle-section{
  text-align: center;
  margin-bottom: 7em;
}
.middle-section:first-child p{
  color: green;
}
.middle-section h2{
  font-size: 2.5rem;
  margin-bottom: .75em;
}
.middle-section p{
  font-size: 1.4em;
  padding: 0 10em;
}
.benefits-container{
  display: flex;
  align-items: center;
  margin-bottom: 10em;
}
.benefits-column{
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.benefits-container img{
  width: 100%;
  max-width: 60em;
  translate: -4em;
}
.benefits h3{
  font-size: 1.5rem;
}
.benefits{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.benefits p{
  line-height: 1.5em;
  font-size: 1.4em;
}
.devices{
  display: flex;
  align-items: center;
  margin-bottom: 6em;
}
.devices img{
  width: 100%;
  max-width: 60em;
  margin: auto;
}
.features-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1em;
  margin: 0 10% 13em;
}
.features{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features img{
  margin-bottom: 2em;
}
.features h3{
  margin-bottom: 1em;
  font-size: 2em;
}
.features p{
  line-height: 1.5em;
}
.comapany-logo-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10em;
}
.utility{
  margin-bottom: 2em;
}
footer{
  display: flex;
  background-color: hsl(220, 18%, 97%);
  align-items: center;
  padding: 1em;
}
.footer-logo{
  width: 4em;
  margin: auto;
}
footer p{
  color: var(--Dark-Grayish-Blue);
}
footer p:hover{
  color: var(--Strong-Cyan);
  cursor: pointer;
  transition: .3s ease-out;
}
nav{
  display: flex;
  gap: 3em;
  margin: 0 auto;
}
.col p{
  margin-bottom: .3em;
}
.social-icons{
  display: flex;
  gap: 1em;
  cursor: pointer;
  margin-left: auto;
}
.social-icons img:hover,.comapany-logo-container img:hover{
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(51%) sepia(79%) saturate(387%) hue-rotate(122deg) brightness(102%) contrast(92%);
  transition: .1s ease;
}
@media (max-width: 900px){
  .first-section,.middle-section,.benefits-container,.comapany-logo-container{
    width: 85%;
    max-width: 30em;
    margin: auto;
  }
  .first-section img{
    margin-top: 12em;
  }
  .first-section h1{
    text-align: center;
  }
  .first-section p{
    padding: 0;
  }
  .footer-logo{
    margin: 0;
  }
  .buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
  }
  .ios{
    margin: 0;
  }
  .middle-section{
    margin-bottom: 8em;
  }
  .middle-section p{
    text-align: center;
    padding: 0;
  }
  .benefits-container{
    flex-direction: column;
    margin-bottom: 5em;
  }
  .benefits-container img{
    translate: 0;
    margin-bottom: 3em;
  }
  .benefits-column{
    display: flex;
    text-align: center;
    align-items: center;
  }
  .features-container,.comapany-logo-container{
    display: flex;
    flex-direction: column;
  }
  .features{
    margin-bottom: 2em;
  }
  .comapany-logo-container{
    gap: 5em;
    margin-bottom: 8em;
  }
  footer,nav{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-logo{
    margin: 2em 0;
  }
  nav{
    gap: 1em;
    margin-bottom: 2em;
  }
  .social-icons{
    gap: 3em;
    margin: 0 auto;
  }
}
@media (max-width: 500px){
  body{
    background-image: url('images/bg-header-mobile.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media (min-width:1400px){
  .first-section p{
    padding: 0 16em;
  }
  .middle-section p{
    padding: 0 15em;
  }
  .benefits-container{
    gap: 3em;
  }
  .benefits p{
    padding-right: 3.5em;
  }
}
.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(220, 18%, 97%);

  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }