
:root {
/* 1. Definicion de variables */
--rc-color-brand: #353535;

/* COLOR PALETTE */
--rc-color-n-000: #fff;
--rc-color-n-050: #f5f5f5;
--rc-color-n-100: #ebebeb;
--rc-color-n-300: #aeaeae;
--rc-color-n-500: #353535;
--rc-color-n-700: #282828;
--rc-color-n-900: #1a1a1a;

/* BACKGROUND COLORS */
--rc-color-background-primary: var(--rc-color-n-000);
--rc-color-background-secondary: var(--rc-color-n-050);
--rc-color-background-tertiary: var(--rc-color-n-100);

/* BORDER COLOR */

--rc-color-border: var(--rc-color-n-100);

/* TYPOGRAPHY COLOR */

--rc-color-typography-heading: var(--rc-color-n-500);
--rc-color-typography-body: var(--rc-color-n-900);
--rc-color-typography-note: var(--rc-color-n-300);
--rc-color-typography-button: var(--rc-color-n-000)

/* 2. Definicion de typographys */

--rc-typography-typeface: "Roboto", sans-serif;

--rc-typography-h1:2rem;
--rc-typography-h2: 1.5rem;
--rc-typography-h3: 1.25rem;
--rc-typography-p: 1rem;
--rc-typography-s:.8rem;

--rc-typography-h1-leading:1.2;
--rc-typography-h2-leading:1.2;
--rc-typography-p-leading:1.5;

--rc-typography-heading: .75rem;
--rc-typography-body: 1.1rem;

/* 3. Layout */
--rc-layout-container: 1.25rem;
--rc-layout-grid: 3.5rem;
--rc-layout-gutter: 1rem;

--rc-gap-header: 1rem;
--rc-gap-hero: 2rem;
--rc-gap-customer: 2rem;
--rc-gap-feature: 2rem;
--rc-gap-pricing: 2rem;
--rc-gap-testimonial: 3rem;
--rc-gap-card: 1.25rem;
--rc-gap-cta: 1.25rem;

--rc-radius-avatar: 5rem;
--rc-radius-button: 5rem;
--rc-radius-card:.5rem
}

/* Foundations */

html {
 box-sizing:  border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--rc-color-background-primary);
  color: var(--rc-typography-body);
  font-family: var(--rc-typography-typeface);
  font-size: var(--rc-typography-p);
  font-weight: 400;
  line-height: var(--rc-typography-p-leading);
  text-rendering: optimizeLegibility;
}

/* TYPOGRAPHY */

a {
  text-decoration: var(--rc-color-typography-note);
}

h1,h2,p,ul {
  margin-top: 0;
}

/* IMAGES */
img, svg {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* LAYOUT */

.rc-layout-container {
  padding-left: var(--rc-layout-container);
  padding-right: var(--rc-layout-container);
}

.rc-layout-flex,
.rc-layout-grid {
  align-items: center;
  justify-content: center;
}

.rc-layout-flex {
  display: flex;
}

.rc-layout-grid {
  display: grid;
}