.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  gap: 3em;
  padding: 1.25em 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.card > * {
  pointer-events: none;
}

.card-image {
  max-width: 200px;
}

.card-image > img {
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0 0.5em;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 20%;
  right: 0;
  margin: auto;
  width: 80%;
  height: 50vh;
  overflow: auto;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.close-btn {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}
