/* div {
  display: inline;
}

span {
  display: block;
} */

.inline {
  background-color: coral;
  /* no puedo ajustar un ancho -> inline no tiene width */
  width: 200px;
}

.block {
  background-color: yellowgreen;
  width: 60%;
}

.image {
  width: 500px;
  height: 500px;
  padding: 50px;
  margin: 50px;
  border: 5px solid coral;
}
