.container {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  gap: 3em;
}

.container div {
  background-color: crimson;
  color: white;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}