.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  height: var(--header-height);
  position: relative;
}

.navbar > nav {
  padding: 1.25em;
}

.navbar > button {
  aspect-ratio: 1;
  border: none;
  background-color: var(--primary-color);
  border-radius: 25%;
  margin: 1.25em;
}

.navbar-content {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: var(--header-height);
  left: 0;
  right: 0;
  padding: 1.25rem 0;
  height: 0;
}

.navbar-content--visible {
  display: flex;
  opacity: 1;
  gap: 1rem;
  overflow: auto;
  top: var(--header-height);
  flex-direction: column;
  transition: all 250ms ease-in-out;
  height: 100vh;
  z-index: 1;
  background-color: var(--secondary-color);
}

.navbar-content--visible > .navigation-container {
  order: 2;
}

@media (min-width: 768px) {
  .navbar-content--visible {
    flex-direction: row;
  }

  .navbar-content--visible > .navigation-container {
    order: 0;
  }
  .search-block {
    flex: 1;
  }
}

.search-input {
  width: 100%;
  max-width: 20rem;
}
