.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projects .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}
