* {
  box-sizing: border-box;
  margin: 0;
  background-color: #13138e;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3em;
  text-align: center;
  padding: 25px;
  margin: 50px;
  color: #d7dde2;
  overflow: hidden;
}

img {
  width: 100%;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  vertical-align: middle;
  margin-top: 8px;
  filter: grayscale(70%);
}

.column:nth-child(even) {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}