/* @font-face {
  font-family: "RobotoFontRegular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* .roboto-regular {
  font-family: "RobotoFontRegular";
} */

* {
  font-family: "Roboto", sans-serif;
}
